{% extends 'customer_mart/base.html' %}

{% block content %}
<div id="products-container">
    <div class="row">
    <!--Categories-->
    <div class="col-md-4">
    {% for category in categories %}
        <ul>
        <li class="well"><a href="{% url 'select_products' category.id %}">{{category.category_name}}</a></li>
        </ul>
    {% endfor %}
    </div>
        <!--Products-->
        <div class="col-sm-4 col-md-6 ">
        {% for product in products %}
            <div class="col-md-6 ">
            <h3>{{product.product_name}}</h3>
            <div class="thumbnail testContainer">
            <a href="#">
            <img src="{{ product.product_image.url }}" class="img-responsive"/>
            </a>
            <label><strong>Price(Kshs):</strong> {{product.price}}</label>&nbsp;
            <label><b>Stock:</b> {{product.product_quantity}}</label>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default btn-add" role="button">Add To Cart</a>
            <a href="#" class="btn btn-default">Add To Wishlist</a>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}